apiVersion: v1
kind: ConfigMap
metadata:
  name: kong-cm0
data:
  kong.yml: |
    _format_version: "1.1"
    _transform: true
    services:
      - host: host.docker.internal
        name: video-service
        port: 5003
        routes:
          - name: video-route
            paths:
              - /
            protocols:
              - http
              - https
        plugins:
          - name: cors
            config:
              origins:
                - 'http://localhost:3000'
              credentials: true
      - host: host.docker.internal
        name: room-service
        port: 5002
        routes:
          - name: room-route
            paths:
              - /createroom
            protocols:
              - http
              - https
        plugins:
          - name: cors
            config:
              origins:
                - 'http://localhost:3000'
              credentials: true

