apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: C:\ProgramData\chocolatey\lib\kubernetes-kompose\tools\kompose.exe convert -f ../docker-compose.yml
    kompose.version: 1.33.0 (3ce457399)
  labels:
    io.kompose.service: videoservice
  name: videoservice
spec:
  ports:
    - name: "5003"
      port: 5003
      targetPort: 5000
  selector:
    io.kompose.service: videoservice
