@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  width: 100%;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body{
  width: 100%;
  height: 100%;
}

.message.self {
  text-align: right;
  color: blue;
}

.message.other {
  text-align: left;
  color: green;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}